
<ion-header id="menu">
  <nav id="navigation" class="site-navigation" role="navigation">
    <ul class="menu">
      <li class="menu-item"><ion-img src="assets/image/Logo1.png"></ion-img></li>
      <li class="menu-item"><a routerLink='/home' ><div id="vertical" class="hoverHome">Home</div></a></li>
      <li class="menu-item"><a routerLink='/works'><div id="vertical" class="hoverWorks">Works</div></a>
        <ul class="dropdown">
          <li class="menu-item sub-menu"><a routerLink='/hunger-games' id="subOpts">The Hunger Games</a></li>
          <li class="menu-item sub-menu"><a routerLink='/catching-fire' id="subOpts">Catching fire</a></li>
          <li class="menu-item sub-menu"><a routerLink='/mockingjay' id="subOpts">Mockingjay</a></li>
          <li class="menu-item sub-menu"><a routerLink='/songbirds-and-snakes' id="subOpts">The Ballad of Songbirds and Snakes</a></li>
          
          <li class="menu-item sub-menu"><a routerLink='/gregor-overlander' id="subOpts">Gregor the Overlander</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-prophecy-bane'id="subOpts" >Gregor and the Prophecy of Bane</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-curse-warmbloods'id="subOpts">Gregor and the Curse of the Warmbloods</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-marks-secret' id="subOpts">Gregor and the Marks of Secret</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-code-claw' id="subOpts">Gregor and the Code of Claw</a></li>
          
          <li class="menu-item sub-menu"><a routerLink='/year-of-the-jungle' id="subOpts">Year of the Jungle</a></li>
          <li class="menu-item sub-menu"><a routerLink='/charlie-mc-button' id="subOpts">When Charlie McButton Lost Power</a></li>
        
        </ul>
      </li>
      <li class="menu-item"><a routerLink='/biography'><div id="vertical2" class="hoverBio">Biography</div></a></li>
      <li class="menu-item"><a routerLink='/interview'><div id="vertical2" class="hoverInterview">Interview</div></a></li>
      <li class="menu-item"><a routerLink='/fans-asked'><div id="vertical2" class="hoverFans">Fans asked</div></a></li>
      <li>
        <div class="mailContainer">
          <a class="email" *ngIf="userLogged|async as user">
            {{user.email}} <br> <ion-button size="small" color="light" class="outBtn" (click)="logout()">LogOut</ion-button>
          </a>
        </div>
      </li>
    </ul>
  </nav>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <div id="pregunta" class="p1" >
      <div class="tooltip">
        The Hunger Games is hugely popular with both boys and girls. Why do you think that is?
        <span class="tooltiptextT">
          Whenever I write a story, I hope it appeals to both boys and girls. But maybe in its 
          simplest form, it's having a female protagonist in a gladiator story, which traditionally 
          features a male. It's an unexpected choice. Or I don't know, maybe the futuristic, grim 
          nature of the story is larger than that. I wouldn't care who was the lead in a good 
          dystopian story. You know what I mean?
        </span>
      </div>
    </div>
    <div id="pregunta" class="p2" >
      <div class="tooltip">
        Why is Peeta a baker?
        <span class="tooltiptextT">
          Bread crops up a lot in The Hunger Games. It’s the main food source in the districts, 
          as it was for many people historically. When Peeta throws a starving Katniss bread in 
          the flashback, he’s keeping her alive long enough to work out a strategy for survival. 
          It seemed in keeping with his character to be a baker, a life giver. But there’s a 
          dark side to bread, too. When Plutarch Heavensbee references it, he’s talking about 
          Panem et Circenses, Bread and Circuses, where food and entertainment lull people into 
          relinquishing their political power. Bread can contribute to life or death in The Hunger Games.
        </span>
      </div>
    </div>
    <div id="pregunta" class="p3" >
      <div class="tooltip">
        When it comes to larger world building, how much did you know about Panem before you started writing?
        <span class="tooltiptextT">
          I knew there were thirteen districts — that’s a nod to the thirteen colonies — and that they’d 
          each be known for a specific industry. I knew 12 would be coal and most of the others were set, 
          but I had a few blanks that naturally filled in as the story evolved. When I was little we had 
          that board game, Game of the States, where each state was identified by its exports. And even 
          today we associate different locations in the country with a product, with seafood or wine or 
          tech. Of course, it’s a very simplified take on Panem. No district exists entirely by its 
          designated trade. But for purposes of The Hunger Games, it’s another way to divide and define 
          the districts.
        </span>
      </div>
    </div>

    <div id="pregunta" class="p4" >
      <div class="tooltip">
        The book’s premise is very brutal, yet is handled so tastefully. Was this a difficult balance to achieve?
        <span class="tooltiptextL">
          Yes, the death scenes are always hard to write. It’s difficult to put kids in violent 
          situations—Gregor is in a war, Katniss is in a gladiator game. Characters will die. It’s 
          not fun to write, but I think if you can’t commit to really doing the idea, it’s probably 
          better to work on another type of story. Given that, you have to remember who you’re trying 
          to reach with the book. I try and think of how I would tell a particularly difficult event 
          to my own children. Exactly what details they need to know to really understand it, and what 
          would be gratuitous.
        </span>
      </div>
    </div>
    <div id="pregunta" class="p5" >
      <div class="tooltip">
        Talking about Sonbirds and Snakes. What was it like to rewind the world you'd built by sixty-four years? What were some of the 
        touchstones you used to understand what this version of Panem would be?
        <span class="tooltiptextL">
          I really enjoyed going back in time to an earlier version of Panem and visiting the reconstruction period 
          that followed the Dark Days. I thought a lot about the period after the Civil War here in the United States
           and also the post–World War II era in Europe. People trying to rebuild, to live their daily lives in the 
           midst of the rubble. The challenges of food shortages, damaged infrastructure, confusion over how to proceed 
           in peacetime. The relief that the war has ended coupled with the bitterness toward the wartime enemy. 
           The need to place blame.
        </span>
      </div>
    </div>
    <div id="pregunta" class="p6" >
      <div class="tooltip">
        The Hunger Games tackles issues like severe poverty, starvation, oppression, 
        and the effects of war among others. What drew you to such serious subject matter?
        <span class="tooltiptextR">
          That was probably my dad’s influence. He was career Air Force, a military specialist, 
          a historian, and a doctor of political science. When I was a kid, he was gone for a 
          year in Vietnam. It was very important to him that we understood about certain aspects 
          of life. So, it wasn’t enough to visit a battlefield, we needed to know why the battle 
          occurred, how it played out, and the consequences. Fortunately, he had a gift for 
          presenting history as a fascinating story. He also seemed to have a good sense of 
          exactly how much a child could handle, which is quite a bit.
        </span>
      </div>
    </div>

    <div id="askTitle">ASK SUZANNE</div>
    
    <div id="inputCont">
      <ion-item>
        <ion-label position="floating">Write your Q</ion-label>
        <ion-textarea rows=6 name="q" id="q" [(ngModel)]="q"></ion-textarea>
      </ion-item>
      <ion-text class="justUsers">*Available if signed in</ion-text>
    </div>
    <ion-button id="send" fill="clear" class="send" (click)="guardarPregunta()">SEND</ion-button>
  </div>


  <ion-fab vertical="center" horizontal="end" slot="fixed"  >
    <ion-fab-button color="light">
      <ion-icon name="globe-outline" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://www.authorsguild.org/"><ion-img id="fab" src="assets/icon/authors.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.penguin.com/"><ion-img id="fab" src="assets/icon/penguin.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.amazon.com/"><ion-img id="fab" src="assets/icon/amazon.png"></ion-img></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button href="https://www.barnesandnoble.com/"><ion-img id="fab2" src="assets/icon/barnes.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.indiebound.org/"><ion-img id="fab" src="assets/icon/indie.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.booksamillion.com/"><ion-img id="fab2" src="assets/icon/BAM.png"></ion-img></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>


<ion-footer id="pie">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div id="alignI">
            Created for educational purposes
          </div>
        </ion-col>
        
        <ion-col >
          <div id="alignC">
            <ion-img src="assets/image/scholastic.png" id="logoPie"> </ion-img>
            <br>TM & (c) 2021 Scholastic Inc. All Rights Reserved.
          </div>
        </ion-col>

        <ion-col>
          <div id="alignD">
            <ion-button fill="clear" id="sign" class="sign button1" routerLink='/sign-in-up'>
              <a id="s">SIGN</a>
              <ion-img id="signIcon" src="assets/icon/derecha.png"></ion-img>
              <!--<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>-->
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>