
<ion-header [fullscreen]="true" id="menu">
  <nav id="navigation" class="site-navigation" role="navigation">
    <ul class="menu">
      <li class="menu-item"><ion-img src="assets/image/Logo1.png"></ion-img></li>
      <li class="menu-item"><a routerLink='/home' ><div id="vertical" class="hoverHome">Home</div></a></li>
      <li class="menu-item"><a routerLink='/works'><div id="vertical" class="hoverWorks">Works</div></a>
        <ul class="dropdown">
          <li class="menu-item sub-menu"><a routerLink='/hunger-games' id="subOpts">The Hunger Games</a></li>
          <li class="menu-item sub-menu"><a routerLink='/catching-fire' id="subOpts">Catching fire</a></li>
          <li class="menu-item sub-menu"><a routerLink='/mockingjay' id="subOpts">Mockingjay</a></li>
          <li class="menu-item sub-menu"><a routerLink='/songbirds-and-snakes' id="subOpts">The Ballad of Songbirds and Snakes</a></li>
          
          <li class="menu-item sub-menu"><a routerLink='/gregor-overlander' id="subOpts">Gregor the Overlander</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-prophecy-bane'id="subOpts" >Gregor and the Prophecy of Bane</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-curse-warmbloods'id="subOpts">Gregor and the Curse of the Warmbloods</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-marks-secret' id="subOpts">Gregor and the Marks of Secret</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-code-claw' id="subOpts">Gregor and the Code of Claw</a></li>
          
          <li class="menu-item sub-menu"><a routerLink='/year-of-the-jungle' id="subOpts">Year of the Jungle</a></li>
          <li class="menu-item sub-menu"><a routerLink='/charlie-mc-button' id="subOpts">When Charlie McButton Lost Power</a></li>
        
        </ul>
      </li>
      <li class="menu-item"><a routerLink='/biography'><div id="vertical2" class="hoverBio">Biography</div></a></li>
      <li class="menu-item"><a routerLink='/interview'><div id="vertical2" class="hoverInterview">Interview</div></a></li>
      <li class="menu-item"><a routerLink='/fans-asked'><div id="vertical2" class="hoverFans">Fans asked</div></a></li>
    </ul>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <div id="pregunta" class="p1" >
      <div class="tooltip">
        What's been the most memorable feedback you've gotten from teachers and kids?
        <span class="tooltiptextT">
          One of the most memorable things I hear is when someone tells me that my books
          got a reluctant reader to read. They'll say, "You know, there's this kid and he
          wouldn't touch a book and his parents found him under a blanket with a flashlight
          after bedtime because he couldn't wait to find out what happened in the next 
          chapter." That's just the best feeling. The idea that you might have contributed 
          to a child's enjoyment of reading.
        </span>
      </div>
    </div>
    <div id="pregunta" class="p2" >
      <div class="tooltip">
        Who contributed to your love of reading and writing?
        <span class="tooltiptextT">
          In fifth and sixth grade, I went to school in an open classroom. And the English 
          teacher, Miss Vance, was wonderful. On rainy days, she would take whoever was 
          interested over to the side and read us Edgar Allan Poe stories. I remember all 
          of us sitting around just wide-eyed as she read "The Telltale Heart" or "The Mask
          of the Red Death." She didn't think we were too young to hear it. And we were 
          riveted. That made a huge impression on me.
        </span>
      </div>
    </div>
    <div id="pregunta" class="p3" >
      <div class="tooltip">
        What drew you to writing science fiction?
        <span class="tooltiptextT">
          Telling a story in a futuristic world gives you this freedom to explore things 
          that bother you in contemporary times. So, in the case of the Hunger Games, 
          issues like the vast discrepancy of wealth, the power of television and how it's 
          used to influence our lives, the possibility that the government could use hunger 
          as a weapon, and then first and foremost to me, the issue of war.
        </span>
      </div>
    </div>

    <div id="pregunta" class="p4" >
      <div class="tooltip">
        War seems to be a very important theme for you.
        <span class="tooltiptextL">
          My father was career Air Force and was also a Vietnam veteran. He was in 
          Vietnam the year I was six. But beyond that, he was a doctor of political 
          science, he was a military specialist, he was very well educated. And he 
          talked about war with us from very early on. It was very important to him 
          that we understood things, I think because of both what he did and what he 
          had experienced.<br>
          If you went to a battlefield with him you didn't just stand there. You would
           hear what led up to this war and to this particular battle, what transpired
            there, and what the fallout was. It wasn't like, there's a field. It would
             be, here's a story.
        </span>
      </div>
    </div>
    <div id="pregunta" class="p5" >
      <div class="tooltip">
        How does war connect to your concerns about TV, especially reality TV?
        <span class="tooltiptextL">
          The Hunger Games is a reality television program. An extreme one, 
          but that's what it is. And while I think some of those shows can 
          succeed on different levels, there's also the voyeuristic thrill, 
          watching people being humiliated or brought to tears or suffering 
          physically. And that's what I find very disturbing. There's this 
          potential for desensitizing the audience so that when they see 
          real tragedy playing out on the news, it doesn't have the impact 
          it should. It all just blurs into one program. And I think it's 
          very important not just for young people, but for adults to make 
          sure they're making the distinction. Because the young soldier's 
          dying in the war in Iraq, it's not going to end at the commercial 
          break. It's not something fabricated, it's not a game. It's your life.
        </span>
      </div>
    </div>
    <div id="pregunta" class="p6" >
      <div class="tooltip">
        How do you think teachers can help children be more conscious about the media they're consuming?
        <span class="tooltiptextR">
          One of the most memorable things I hear is when someone tells me that my books
          got a reluctant reader to read. They'll say, "You know, there's this kid and he
          wouldn't touch a book and his parents found him under a blanket with a flashlight
          after bedtime because he couldn't wait to find out what happened in the next 
          chapter." That's just the best feeling. The idea that you might have contributed 
          to a child's enjoyment of reading.
        </span>
      </div>
    </div>

    <div id="pregunta" class="p7" >
      <div class="tooltip">
        Television isn't the only place kids make that distinction.
        <span class="tooltiptextD">
          One of the most memorable things I hear is when someone tells me that my books
          got a reluctant reader to read. They'll say, "You know, there's this kid and he
          wouldn't touch a book and his parents found him under a blanket with a flashlight
          after bedtime because he couldn't wait to find out what happened in the next 
          chapter." That's just the best feeling. The idea that you might have contributed 
          to a child's enjoyment of reading.
        </span>
      </div>
    </div>
    <div id="pregunta" class="p8" >
      <div class="tooltip">
        Do you think real-world kids have the same opportunities as your heroine, Katniss, to make a difference in society?
        <span class="tooltiptextD">
          One of the most memorable things I hear is when someone tells me that my books
          got a reluctant reader to read. They'll say, "You know, there's this kid and he
          wouldn't touch a book and his parents found him under a blanket with a flashlight
          after bedtime because he couldn't wait to find out what happened in the next 
          chapter." That's just the best feeling. The idea that you might have contributed 
          to a child's enjoyment of reading.
        </span>
      </div>
    </div>
    <div id="pregunta" class="p9" >
      <div class="tooltip">
        What advice do you give to young writers?
        <span class="tooltiptextD">
          One of the most memorable things I hear is when someone tells me that my books
          got a reluctant reader to read. They'll say, "You know, there's this kid and he
          wouldn't touch a book and his parents found him under a blanket with a flashlight
          after bedtime because he couldn't wait to find out what happened in the next 
          chapter." That's just the best feeling. The idea that you might have contributed 
          to a child's enjoyment of reading.
        </span>
      </div>
    </div>

  </div>

  <ion-fab vertical="center" horizontal="end" slot="fixed" >
    <ion-fab-button color="light">
      <ion-icon name="globe-outline" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light"><ion-img id="fab" src="assets/icon/authors.png" ></ion-img></ion-fab-button>
      <ion-fab-button color="light"><ion-img id="fab" src="assets/icon/penguin.png"></ion-img></ion-fab-button>
      <ion-fab-button color="light"><ion-img id="fab" src="assets/icon/amazon.png"></ion-img></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button color="light"><ion-img id="fab2" src="assets/icon/barnes.png"></ion-img></ion-fab-button>
      <ion-fab-button color="light"><ion-img id="fab" src="assets/icon/indie.png"></ion-img></ion-fab-button>
      <ion-fab-button color="light"><ion-img id="fab2" src="assets/icon/BAM.png"></ion-img></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<ion-footer id="pie">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div id="alignI">
            Created for educational purposes
          </div>
        </ion-col>
        
        <ion-col >
          <div id="alignC">
            <ion-img src="assets/image/scholastic.png" id="logoPie"> </ion-img>
            <br>TM & (c) 2021 Scholastic Inc. All Rights Reserved.
          </div>
        </ion-col>

        <ion-col>
          <div id="alignD">
            <ion-button fill="clear" id="sign" class="sign button1" routerLink='/sign-in-up'>
              <a id="s">SIGN</a>
              <ion-img id="signIcon" src="assets/icon/derecha.png"></ion-img>
              <!--<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>-->
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
