<ion-header [fullscreen]="true" id="menu">

  <ion-grid>
    <ion-row >
      
      <ion-col><ion-img src="assets/image/Logo1.png" id="logo"></ion-img></ion-col>
      <ion-col><ion-button fill="clear" id="menuopc" class="hoverHome" routerLink='/home'>Home</ion-button></ion-col>
      
      <ion-col>
        <div class="dropdown">
          <ion-button fill="clear" id="menuopc" class="hoverWorks" routerLink='/works'>Works</ion-button>
          <div class="dropdown-content">
            <a></a>
            <a></a>
            <a routerLink='/hunger-games'>The Hunger games</a>
            <a routerLink='/catching-fire'>Catching fire</a>
            <a routerLink='/mockingjay'>Mockingjay</a>
            <a routerLink='/songbirds-and-snakes'>The Ballad of Songbirds and Snakes</a>

            <a routerLink='/gregor-overlander'>Gregor the Overlander</a>
            <a routerLink='/gregor-prophecy-bane'>Gregor and the Prophecy of Bane</a>
            <a routerLink='/gregor-curse-warmbloods'>Gregor and the Curse of the Warmbloods</a>
            <a routerLink='/gregor-marks-secret'>Gregor and the Marks of Secret</a>
            <a routerLink='/gregor-code-claw'>Gregor and the Code of Claw</a>

            <a routerLink='/year-of-the-jungle'>Year of the Jungle</a>
            <a routerLink='/charlie-mc-button'>When Charlie McButton Lost Power</a>
          </div>
        </div>
      </ion-col>

        <ion-col><ion-button fill="clear" id="menuopc" class="hoverBio" routerLink='/biography'>Biography</ion-button></ion-col>
      <ion-col><ion-button fill="clear" id="menuopc" class="hoverInterview" routerLink='/interview'>Interview</ion-button></ion-col>
      <ion-col><ion-button fill="clear" id="menuopc" class="hoverFans" routerLink='/fans-asked'>Fans asked</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">

    <div id="coverContainer"><ion-img id="coverBook" src="assets/image/hunger4.jpg"></ion-img></div>

    
    <div id="flanco1">
      <ion-img src="assets/icon/award.png"></ion-img>
    </div>
    <div id="flanco2">
      <ion-img src="assets/icon/award.png"></ion-img>
    </div>
    <div class="SliderAwards">
      <ion-slides [options]="slideOpts" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" class="swiper">
        
        <ion-slide ><ion-text id="slides-awards">#1 USA TODAY BESTSELLER</ion-text></ion-slide>
        <ion-slide ><ion-text id="slides-awards">#1 NEW YORK TIMES BESTSELLER</ion-text></ion-slide>
        <ion-slide ><ion-text id="slides-awards">#1 WALL STREET JOURNAL BESTSELLER</ion-text></ion-slide>
        <ion-slide ><ion-text id="slides-awards">#1 PUBLISHERS WEEKLY BESTSELLER</ion-text></ion-slide>
        <ion-slide ><ion-text id="slides-awards">A BARNES & NOBLE BEST YA SCIENCE FICTION AND FANTASY BOOK OF 2020</ion-text></ion-slide>
        <ion-slide ><ion-text id="slides-awards">AN AMAZON BEST SCIENCE FICTION AND FANTASY BOOK OF 2020</ion-text></ion-slide>
        <ion-slide ><ion-text id="slides-awards">A NEW YORK TIMES EDITORS' CHOICE</ion-text></ion-slide>
        <ion-slide ><ion-text id="slides-awards">2020 GOODREADS CHOICE AWARD FINAL ROUND YA FANTASY</ion-text></ion-slide>
        <ion-slide ><ion-text id="slides-awards">WATERSTONES BEST BOOKS OF 2020: SCIENCE FICTION & FANTASY</ion-text></ion-slide>
        <ion-slide ><ion-text id="slides-awards">COSMOPOLITAN'S 20 BEST YA BOOKS OF 2020</ion-text></ion-slide>
        <ion-slide ><ion-text id="slides-awards">TODAY'S BEST YA BOOKS OF 2020</ion-text></ion-slide>
      </ion-slides>
    </div>

    <div id="sinopsis">
      Set in the universe of The Hunger Games, the book follows Coriolanus Snow, who is chosen to mentor 
      a tribute in the upcoming 10th Hunger Games. He is assigned the District 12 tribute, Lucy Gray Baird, 
      who sparks the Capitol's attention after singing during the reaping.
    </div>
    
    <div id="BuyTitleC"><p id="BuyTitle">BUY IT</p>
    </div>

    <div id="buy">
      
      <div id="b2">
        <a href="https://www.barnesandnoble.com/w/the-ballad-of-songbirds-and-snakes-suzanne-collins/1133952083?ean=9781338674453">
          <ion-img id="buy2" src="assets/icon/barnesLogo.png"></ion-img>
        </a>
      </div>

      <div id="b1">
        <a href="https://www.amazon.com/Ballad-Songbirds-Snakes-Hunger-Games/dp/0702309516/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1635401566&sr=1-1">
          <ion-img id="buy1" src="assets/icon/amazonLogo.png"></ion-img>
        </a>
      </div>

      <div id="b3">
        <a href="https://www.booksamillion.com/p/Ballad-Songbirds-Snakes-Hunger-Games/Suzanne-Collins/9781338635171?id=8327017192099&__cf_chl_jschl_tk__=pmd_7xEZ6fRuOjRkKZPDGoRRKRQP0LChZD5WUTelOwMAPuI-1632707251-0-gqNtZGzNAnujcnBszQqR">
          <ion-img id="buy3" src="assets/icon/bamLogo.png"></ion-img>
        </a>
      </div>
    </div>
    
      <div class="SliderCritics">
        <ion-slides [options]="slideOptsCritics" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" class="swiperCritics">
          <ion-slide ><ion-text id="slides-critics">
            "'The Ballad of Songbirds and Snakes' delivers a mesmerizing look into the life of Coriolanus Snow 
            and the root causes of his villainous behavior. Collins once again proves that she is a master of 
            building a fascinating world around complex characters 
            who must grapple with the complications of chaos and control and their effects on human nature."
            <br><br><i>The Associated Press</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "It's the pull between Coryo's head and heart — and the realization that he actually has
             a beating heart, not just a rose-scented lump of coal — 
            that makes the future President Snow very worthy of a 517-page prequel."
            <br><br><i>The Washington Post</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "Both a tense, character-driven piece and a cautionary tale...
            The twists and heartbreaks captivate despite tragic inevitabilities."
            <br><br><i>Kirkus Reviews</i>, STARRED REVIEW
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "If you read The Hunger Games in one sitting, settle in for the long haul once more—because 
            The Ballad of Songbirds and Snakes is nearly impossible to put down...
            The Ballad of Songbirds and Snakes is incredibly exciting, thought-provoking, and relevant."
            <br><br><i>Amazon Book Review</i>Amazon Book Review
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "A sleek Hunger Games prequel...The plot of the novel rests on deception and pretence, 
            its view of humanity bleak; yet Collins's themes of friendship, betrayal, authority and 
            oppression, as well as the extra layers of lore about mockingjays and Capitol's history, 
            will please and thrill."
            <br><br><i>The Guardian</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "A gripping mix of whipsaw plot twists and propulsive writing make this story's complex 
            issues—vulnerability and abuse, personal responsibility, and institutionalized power 
            dynamics—vivid and personal."
            <br><br><i>Publishers Weekly</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "Fans will appreciate revisiting the world of Panem, and teens may relate to Coriolanus 
            beginning to grapple with big ideas like human nature and whether people on opposite sides 
            of a war are fundamentally different."
            <br><br><i>School Library Journal</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "A Hunger Games without Everdeen might have seemed as peculiar as a Potter without Harry, 
            but it works beautifully, largely thanks to a new character. The clever, charismatic 
            precursor, Lucy Baird Gray, a Covey (a sort of gypsy) who is chosen to represent District 
            12 in the tenth Games. She is a folk singer of prophetic ballads and has a thing about 
            snakes. She is gorgeous, of course, in her late mother's old rainbow dress (the casting 
            for the film, confirmed by Lionsgate, will be fun)."
            <br><br><i>The Times</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "By introducing a new cast of teenagers, Collins is able to raise questions about 
            privilege, the uses of violence, and the futility of war."
            <br><br><i>People</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "It is a steep challenge to write a book whose hero is, everyone knows, destined to 
            become deeply evil. Do we want to hear — now, after we know the endgame — that the 
            young Voldemort was unfairly saddled with a demerit in class or that the adolescent 
            Sauron fretted because he had to wear hand-me-down clothes?  Yes, please."
            <br><br><i>The New York Times, Sarah Lyall</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "...'The Ballad of Songbirds and Snakes' clever exploration of the world and how its 
            perverse forms of entertainment and control came to be are bound to satisfy fans.  It 
            may not be a particularly comforting form of escapism, but Collins' uneasy, 
            thought-provoking prequel is absorbing all the same."
            <br><br><i>Insider</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "The Ballad of Songbirds and Snakes describes how most lives are actually lived, 
            the consequences of countless small choices that ultimately amount to a big one: 
            not just how to feel but who to be."
            <br><br><i>Slate Magazine</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "The Ballad of Songbirds and Snakes is a darkly satisfying origin story...It's a 
            reminder of the power of propaganda — how putting the veneer of a good narrative 
            atop any awful thing can get people to believe the message."
            <br><br><i>Polygon</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "The Ballad of Songbirds and Snakes...confirms Collins as a master of dystopian YA, 
            able to spin engaging tales around deeply flawed characters and societies."
            <br><br><i>New York Journal of Books</i>
          </ion-text></ion-slide>

          <ion-slide ><ion-text id="slides-critics">
            "The Ballad of Songbirds and Snakes builds on the original series' overt critique of 
            violence and those who perpetuate it, again in terms that speak to a more mature audience 
            than their young-adult marketing might suggest. For true fans of The Hunger Games, Collins 
            shines most as she weaves in tantalizing details that lend depth to the gruesome world she 
            created in the original series and Coriolanus's place in its history."
            <br><br><i>Time Magazine</i>
          </ion-text></ion-slide>
        
        </ion-slides>
      </div>

      <div id="contenedorSocial">
        <ion-text>The Hunger Games Official Social Media</ion-text>
        <br>
        <div id="contenedorIcon">
          <div id="SM1">
            <a href="https://www.facebook.com/TheHungerGames/">
              <ion-img id="sm" src="assets/icon/facebook.png"></ion-img>
            </a>
          </div>

          <div id="SM2">
            <a href="https://twitter.com/TheHungerGames">
              <ion-img id="sm" src="assets/icon/twitter.png"></ion-img>
            </a>
          </div>

          <div id="SM3">
            <a href="https://www.instagram.com/thehungergames/">
              <ion-img id="sm" src="assets/icon/instagram.png"></ion-img>
            </a>
          </div>

        </div>
      </div>
    
    <br>.<br>.<br>.<br>.<br>
  </div>

  <ion-fab vertical="center" horizontal="end" slot="fixed"  >
    <ion-fab-button color="light">
      <ion-icon name="globe-outline" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://www.authorsguild.org/"><ion-img id="fab" src="assets/icon/authors.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.penguin.com/"><ion-img id="fab" src="assets/icon/penguin.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.amazon.com/"><ion-img id="fab" src="assets/icon/amazon.png"></ion-img></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button href="https://www.barnesandnoble.com/"><ion-img id="fab2" src="assets/icon/barnes.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.indiebound.org/"><ion-img id="fab" src="assets/icon/indie.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.booksamillion.com/"><ion-img id="fab2" src="assets/icon/BAM.png"></ion-img></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<ion-footer id="pie">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div id="alignI">
            Created for educational purposes
          </div>
        </ion-col>
        
        <ion-col >
          <div id="alignC">
            <ion-img src="assets/image/scholastic.png" id="logoPie"> </ion-img>
            <br>TM & (c) 2021 Scholastic Inc. All Rights Reserved.
          </div>
        </ion-col>

        <ion-col>
          <div id="alignD">
            <ion-button fill="clear" id="sign" class="sign button1" routerLink='/sign-in-up'>
              <a id="s">SIGN</a>
              <ion-img id="signIcon" src="assets/icon/derecha.png"></ion-img>
              <!--<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>-->
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>