
<ion-header [fullscreen]="true" id="menu">
  <nav id="navigation" class="site-navigation" role="navigation">
    <ul class="menu">
      <li class="menu-item"><ion-img src="assets/image/Logo1.png"></ion-img></li>
      <li class="menu-item"><a routerLink='/home' ><div id="vertical" class="hoverHome">Home</div></a></li>
      <li class="menu-item"><a routerLink='/works'><div id="vertical" class="hoverWorks">Works</div></a>
        <ul class="dropdown">
          <li class="menu-item sub-menu"><a routerLink='/hunger-games' id="subOpts">The Hunger Games</a></li>
          <li class="menu-item sub-menu"><a routerLink='/catching-fire' id="subOpts">Catching fire</a></li>
          <li class="menu-item sub-menu"><a routerLink='/mockingjay' id="subOpts">Mockingjay</a></li>
          <li class="menu-item sub-menu"><a routerLink='/songbirds-and-snakes' id="subOpts">The Ballad of Songbirds and Snakes</a></li>
          
          <li class="menu-item sub-menu"><a routerLink='/gregor-overlander' id="subOpts">Gregor the Overlander</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-prophecy-bane'id="subOpts" >Gregor and the Prophecy of Bane</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-curse-warmbloods'id="subOpts">Gregor and the Curse of the Warmbloods</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-marks-secret' id="subOpts">Gregor and the Marks of Secret</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-code-claw' id="subOpts">Gregor and the Code of Claw</a></li>
          
          <li class="menu-item sub-menu"><a routerLink='/year-of-the-jungle' id="subOpts">Year of the Jungle</a></li>
          <li class="menu-item sub-menu"><a routerLink='/charlie-mc-button' id="subOpts">When Charlie McButton Lost Power</a></li>
        
        </ul>
      </li>
      <li class="menu-item"><a routerLink='/biography'><div id="vertical2" class="hoverBio">Biography</div></a></li>
      <li class="menu-item"><a routerLink='/interview'><div id="vertical2" class="hoverInterview">Interview</div></a></li>
      <li class="menu-item"><a routerLink='/fans-asked'><div id="vertical2" class="hoverFans">Fans asked</div></a></li>
      <li>
        <div class="mailContainer">
          <a class="email" *ngIf="userLogged|async as user">
            {{user.email}} <br> <ion-button size="small" color="light" class="outBtn" (click)="logout()">LogOut</ion-button>
          </a>
        </div>
      </li>
    </ul>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    
    <ion-img  id="image" src="assets/image/suzanne.jpg" class="centered"></ion-img>
  
    <p id="bio" >
      Suzanne developed an early interest in writing as a young girl. Pursuing her interests, she attended the Alabama School
      of Fine Arts and later completed an M.F.A. degree in Dramatic Writing from New York University.
      <br>      <br>
      In 1991, she began her career as a writer for children’s television. Some of her most significant works include working on 
      the Nickelodeon channel shows. Significant milestone of her career also include being the head writer at Scholastic 
      Entertainment for Clifford’s Puppy Days.
      <br>      <br>
      Collins was encouraged and inspired to try her hands on writing children’s books after a meeting with children’s author 
      James Proimos, Suzanne Collins began her career in children’s literature with Gregor the Overlander (2003), the first 
      book of the New York Times bestselling, The Underland Chronicles series. These books were targeted for middle grade readers.
      Collins produced four more books for the series In 2005, Collins also published a rhyming picture book, When Charlie 
      McButton Lost Power followed by a sequel, When Charlie McButton Gained Power, published in 2009.
      <br>      <br>
      Collins was first recognized as a distinguished children’s writer when she published, Catching Fire in 2009. This book was
      the second book of another series entitled The Hunger Games. The trilogy series targeted for ages 12 and above, became an
        instant bestseller and was placed at the number one position simultaneously on the bestselling lists. As a result of the
        popularity Collins gained from this series, she was named amongst Time magazine’s list of most influential people of 2010.
        <br>      <br>
      In 2016, she was presented the Authors Guild Award for Distinguished Service to the Literary Community for exemplifying the
      unique power of young people's literature to change lives and create lifelong book lovers.
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>

  <ion-fab vertical="center" horizontal="end" slot="fixed" >
    <ion-fab-button color="light">
      <ion-icon name="globe-outline" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-img id="fab" src="assets/icon/authors.png" ></ion-img></ion-fab-button>
      <ion-fab-button><ion-img id="fab" src="assets/icon/penguin.png"></ion-img></ion-fab-button>
      <ion-fab-button><ion-img id="fab" src="assets/icon/amazon.png"></ion-img></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button><ion-img id="fab2" src="assets/icon/barnes.png"></ion-img></ion-fab-button>
      <ion-fab-button><ion-img id="fab" src="assets/icon/indie.png"></ion-img></ion-fab-button>
      <ion-fab-button><ion-img id="fab2" src="assets/icon/BAM.png"></ion-img></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<ion-footer id="pie">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div id="alignI">
            Created for educational purposes
          </div>
        </ion-col>
        
        <ion-col >
          <div id="alignC">
            <ion-img src="assets/image/scholastic.png" id="logoPie"> </ion-img>
            <br>TM & (c) 2021 Scholastic Inc. All Rights Reserved.
          </div>
        </ion-col>

        <ion-col>
          <div id="alignD">
            <ion-button fill="clear" id="sign" class="sign button1" routerLink='/sign-in-up'>
              <a id="s">SIGN</a>
              <ion-img id="signIcon" src="assets/icon/derecha.png"></ion-img>
              <!--<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>-->
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
