
<ion-header [fullscreen]="true" id="menu">
  <nav id="navigation" class="site-navigation" role="navigation">
    <ul class="menu">
      <li class="menu-item"><ion-img src="assets/image/Logo1.png"></ion-img></li>
      <li class="menu-item"><a routerLink='/home' ><div id="vertical" class="hoverHome">Home</div></a></li>
      <li class="menu-item"><a routerLink='/works'><div id="vertical" class="hoverWorks">Works</div></a>
        <ul class="dropdown">
          <li class="menu-item sub-menu"><a routerLink='/hunger-games' id="subOpts">The Hunger Games</a></li>
          <li class="menu-item sub-menu"><a routerLink='/catching-fire' id="subOpts">Catching fire</a></li>
          <li class="menu-item sub-menu"><a routerLink='/mockingjay' id="subOpts">Mockingjay</a></li>
          <li class="menu-item sub-menu"><a routerLink='/songbirds-and-snakes' id="subOpts">The Ballad of Songbirds and Snakes</a></li>
          
          <li class="menu-item sub-menu"><a routerLink='/gregor-overlander' id="subOpts">Gregor the Overlander</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-prophecy-bane'id="subOpts" >Gregor and the Prophecy of Bane</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-curse-warmbloods'id="subOpts">Gregor and the Curse of the Warmbloods</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-marks-secret' id="subOpts">Gregor and the Marks of Secret</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-code-claw' id="subOpts">Gregor and the Code of Claw</a></li>
          
          <li class="menu-item sub-menu"><a routerLink='/year-of-the-jungle' id="subOpts">Year of the Jungle</a></li>
          <li class="menu-item sub-menu"><a routerLink='/charlie-mc-button' id="subOpts">When Charlie McButton Lost Power</a></li>
        
        </ul>
      </li>
      <li class="menu-item"><a routerLink='/biography'><div id="vertical2" class="hoverBio">Biography</div></a></li>
      <li class="menu-item"><a routerLink='/interview'><div id="vertical2" class="hoverInterview">Interview</div></a></li>
      <li class="menu-item"><a routerLink='/fans-asked'><div id="vertical2" class="hoverFans">Fans asked</div></a></li>
    </ul>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <div id="signContainer">

      <div class="tabs">
        <div class="tab-2">
          <label for="tab2-1" class="opt" >Sign In</label>
          <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
          <div>

            <ion-item class="input">
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>

            <ion-item class="input">
              <ion-label position="floating">Password</ion-label>
              <ion-input  type="password" #mypassword1></ion-input>
              <ion-icon name="eye" color="gray" slot="end" item-right #eye1 (click)="tooglePassword(mypassword1,eye1)"></ion-icon>
            </ion-item>
            
          </div>
        </div>
        <div class="tab-2">
          <label for="tab2-2" class="opt">Sign Up</label>
          <input id="tab2-2" name="tabs-two" type="radio">
          <div>
            
            <ion-item class="input">
              <ion-label position="floating">Name</ion-label>
              <ion-input id="name" type="text"></ion-input>
            </ion-item>

            <ion-item class="input">
              <ion-label position="floating">E-mail</ion-label>
              <ion-input id="email" type="email"></ion-input>
            </ion-item>

            <ion-item class="input">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" #mypassword2></ion-input> 
              <ion-icon name="eye" color="gray" slot="end" item-right #eye2 (click)="tooglePassword(mypassword2,eye2)"></ion-icon>
            </ion-item>

            <!--
            <ion-item class="input">
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input id="password2" type="password"></ion-input>
            </ion-item>
            -->
            <ion-button id="SignUp" fill="clear" class="signB" onclick="verificar()">
              Sign Up
            </ion-button>
          </div>
        </div>
      </div>

    </div>
    
  </div>


  <ion-fab vertical="center" horizontal="end" slot="fixed"  >
    <ion-fab-button color="light">
      <ion-icon name="globe-outline" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://www.authorsguild.org/"><ion-img id="fab" src="assets/icon/authors.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.penguin.com/"><ion-img id="fab" src="assets/icon/penguin.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.amazon.com/"><ion-img id="fab" src="assets/icon/amazon.png"></ion-img></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button href="https://www.barnesandnoble.com/"><ion-img id="fab2" src="assets/icon/barnes.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.indiebound.org/"><ion-img id="fab" src="assets/icon/indie.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.booksamillion.com/"><ion-img id="fab2" src="assets/icon/BAM.png"></ion-img></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

    

</ion-content>


<ion-footer id="pie">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div id="alignI">
            Created for educational purposes
          </div>
        </ion-col>
        
        <ion-col >
          <div id="alignC">
            <ion-img src="assets/image/scholastic.png" id="logoPie"> </ion-img>
            <br>TM & (c) 2021 Scholastic Inc. All Rights Reserved.
          </div>
        </ion-col>

        <ion-col>
          <div id="alignD">
            <ion-button fill="clear" id="sign" class="sign button1" routerLink='/sign-in-up'>
              <a id="s">SIGN</a>
              <ion-img id="signIcon" src="assets/icon/derecha.png"></ion-img>
              <!--<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>-->
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>