<ion-nav id="menu">
  <ion-list >
    <ion-item><a >Logo</a></ion-item>
    <ion-item><a routerLink='/home'>Home</a></ion-item>
    <ion-item><a routerLink='/works'>Works</a></ion-item>
      <ion-list>
        <ion-item><a routerLink='/hunger-games'>Hunger</a></ion-item>
        <ion-item><a routerLink='/catching-fire'>Fire</a></ion-item>
        <ion-item><a routerLink='/mockingjay'>Mockingjay</a></ion-item>
      </ion-list>
    </ion-item>
    <ion-item><a routerLink='/biography'>Bio</a></ion-item>
    <ion-item><a routerLink='/interview'>Interview</a></ion-item>
    <ion-item><a routerLink='/fans-asked'>Fans</a></ion-item>
  </ion-list>
  </ion-nav>