
#container {
  position: absolute;
  background-color: #101010;
  width: 100%;
  height:111%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
}
#container strong {
  font-size: 2em;
  line-height: 26px;
}
#container a {
  text-decoration: none;
}

.titleDiv{
  margin-top: 5%;
  height: fit-content;
  width: 100%;
  //background-color: #fed703;
  float:right;
  //margin-right: 5%;
}
.aboutDiv{
  //margin-top: 1%;
  height: fit-content;
  width: 100%;
  //background-color: #FFCC25;
  float: right;
}

#about{
  font-family: 'Cambria';
  color:#ffffff;
  text-align:right;
  width: 100%;
  //padding-left: 50%;
  font-size: 1.75em;
  line-height: normal;
  
}
#title{
  width: 100%;
  //padding-left: 50%;
  //padding-top: 3%;
  font-family: 'DaytonaBold';
  font-weight: bold;
  font-size: 1.2em;
  line-height: normal;
  word-spacing: 4px;
  //display: flex;
 // align-items:center;
  //background-color: #25532F;
  text-align:right;
  color: #FFFFFF;
  text-shadow: 1px 0 0 #FFCC25, -1px 0 0 #FFCC25, 0 0.5px 0 #FFCC25, 0 -1px 0 #FFCC25, 
  1px 1px #FFCC25, -1px -1px 0 #FFCC25, 1px -1px 0 #FFCC25, -1px 1px 0 #FFCC25;
  //letter-spacing:3px;
  
}
#title B{
  font-size: 1.8em;
  word-spacing: 3px;
}


#divB{
  width: 100%;
  //padding-left: 50%;
  //display: flex;
  //align-content: center;
  //align-items: center;
  float: right;
  margin-top: 2%;
  text-align:right;
  //background-color: #FFCC25;
  margin-top: 1%;
}
#cmore{
  height: 35px;
  padding-left: 10px;
}


.more {
  width:fit-content;
  height: max-content;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
  font-family:'DaytonaBold';
  font-size: 1.5em;
  text-transform: capitalize;
  
}
#m{
  //text-shadow: 2px 0 0 #3c0501, -2px 0 0 #3c0501, 0 1.5px 0 #3c0501, 0 -2px 0 #3c0501, 1px 1px #3c0501, -1px -1px 0 #3c0501, 1px -1px 0 #3c0501, -1px 1px 0 #3c0501;
  color: #ffffff;
  height: 60px;
  width: fit-content;
  border-radius: 60px;
  
}
.more1 {
  background-color:#25532F;
  box-shadow: 0px 0px 20px 10px #080808;
  border-radius: 20px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #ffffff;
  
}
.more1:hover {
  box-shadow: 0 0 10px 0 #fed703 inset, 0 0 20px 2px #fed703;
  border: 3px solid #ffffff;
}



.welcomeBtn{
  background-color:#ffffff;
  box-shadow: 0px 0px 20px 10px #202020;
  border-radius: 20px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #25532F;
  font-family: 'DaytonaBold';
  text-transform: none;
  font-size: 1em;
  
}
.divwelcome{
  margin-bottom: 5%;
  //margin-top: 1%;
  //display: flex;
  text-align: center;
  height: fit-content;
  //align-items: center;
}

.coverContainer{
  //width: 30%;
  height: 65%;
  margin-left: 5%;
  float:left;
  position:relative;
  margin-top: 3%;
  //background-color: #fed703;
}

.coverBook{
  width: 100%;
  height: 100%;
  float: right;
}

.divEntry{
  width: 50%;
  height: 65%;
  height: fit-content;
  float: right;
  text-align:right;
  //background-color: #fed703;
}