
#container {
  position: absolute;
  background-color: #101010;
  width: 100%;
  height:100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container a {
  text-decoration: none;
}


#image{
  height: 500px;
  margin-right: 20px;
  position:absolute;
}


#about{
  font-family: 'Cambria';
  color:#ffffff;
  text-align:right;
  width: 100%;
  padding-left: 50%;
  font-size: xx-large;
  line-height: normal;
  
}
#title{
  width: 100%;
  padding-left: 50%;
  padding-top: 3%;
  font-family: 'DaytonaBold';
  font-weight: bold;
  font-size: x-large;
  line-height: normal;
  word-spacing: 4px;
  //display: flex;
 // align-items:center;

  text-align:right;
  color: #FFFFFF;
  text-shadow: 1px 0 0 #FFCC25, -1px 0 0 #FFCC25, 0 0.5px 0 #FFCC25, 0 -1px 0 #FFCC25, 
  1px 1px #FFCC25, -1px -1px 0 #FFCC25, 1px -1px 0 #FFCC25, -1px 1px 0 #FFCC25;
  //letter-spacing:3px;
  
}
#title B{
  font-size: xx-large;
  word-spacing: 3px;
}


#divB{
  width: 100%;
  padding-left: 60%;
  //display: flex;
  //align-content: center;
  //align-items: center;
  text-align: center;
  //background-color: #FFCC25;
}
#cmore{
  height: 35px;
  padding-left: 10px;
}


.more {
  width:fit-content;
  height: max-content;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
  font-family:'DaytonaBold';
  font-size: xx-large;
  text-transform: capitalize;
  
}
#m{
  //text-shadow: 2px 0 0 #3c0501, -2px 0 0 #3c0501, 0 1.5px 0 #3c0501, 0 -2px 0 #3c0501, 1px 1px #3c0501, -1px -1px 0 #3c0501, 1px -1px 0 #3c0501, -1px 1px 0 #3c0501;
  color: #ffffff;
  height: 60px;
  width: fit-content;
  border-radius: 60px;
  
}
.more1 {
  background-color:#25532F;
  box-shadow: 0px 0px 20px 10px #080808;
  border-radius: 20px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #ffffff;
  
}
.more1:hover {
  box-shadow: 0 0 10px 0 #fed703 inset, 0 0 20px 2px #fed703;
  border: 3px solid #ffffff;
}

/*
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-flecha"] {
    mask-image: url(../assets/icon/signD.svg);
  }

}
*/
//C:\Users\Janyan Puente\SuzanneCollins\node_modules\ionicons\dist\collection\components\icon\svg
//C:\Users\Janyan Puente\SuzanneCollins\node_modules\ionicons\dist\ionicons\svg
//C:\Users\Janyan Puente\SuzanneCollins\node_modules\ionicons\dist\svg