
<ion-header [fullscreen]="true" id="menu">
  <nav id="navigation" class="site-navigation" role="navigation">
    <ul class="menu">
      <li class="menu-item"><ion-img src="assets/image/Logo1.png"></ion-img></li>
      <li class="menu-item"><a routerLink='/home' ><div id="vertical" class="hoverHome">Home</div></a></li>
      <li class="menu-item"><a routerLink='/works'><div id="vertical" class="hoverWorks">Works</div></a>
        <ul class="dropdown">
          <li class="menu-item sub-menu"><a routerLink='/hunger-games' id="subOpts">The Hunger Games</a></li>
          <li class="menu-item sub-menu"><a routerLink='/catching-fire' id="subOpts">Catching fire</a></li>
          <li class="menu-item sub-menu"><a routerLink='/mockingjay' id="subOpts">Mockingjay</a></li>
          <li class="menu-item sub-menu"><a routerLink='/songbirds-and-snakes' id="subOpts">The Ballad of Songbirds and Snakes</a></li>
          
          <li class="menu-item sub-menu"><a routerLink='/gregor-overlander' id="subOpts">Gregor the Overlander</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-prophecy-bane'id="subOpts" >Gregor and the Prophecy of Bane</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-curse-warmbloods'id="subOpts">Gregor and the Curse of the Warmbloods</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-marks-secret' id="subOpts">Gregor and the Marks of Secret</a></li>
          <li class="menu-item sub-menu"><a routerLink='/gregor-code-claw' id="subOpts">Gregor and the Code of Claw</a></li>
          
          <li class="menu-item sub-menu"><a routerLink='/year-of-the-jungle' id="subOpts">Year of the Jungle</a></li>
          <li class="menu-item sub-menu"><a routerLink='/charlie-mc-button' id="subOpts">When Charlie McButton Lost Power</a></li>
        
        </ul>
      </li>
      <li class="menu-item"><a routerLink='/biography'><div id="vertical2" class="hoverBio">Biography</div></a></li>
      <li class="menu-item"><a routerLink='/interview'><div id="vertical2" class="hoverInterview">Interview</div></a></li>
      <li class="menu-item"><a routerLink='/fans-asked'><div id="vertical2" class="hoverFans">Fans asked</div></a></li>
      <li>
        <div class="mailContainer">
          <a class="email" *ngIf="userLogged|async as user">
            {{user.email}} <br> <ion-button size="small" color="light" class="outBtn" (click)="logout()">LogOut</ion-button>
          </a>
        </div>
      </li>
    </ul>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
      <ion-img src="assets/image/hunger4.jpg" id="image"></ion-img>
      
      <p id="title"> THE <B> BALLAD </B> OF <B> SONGBIRDS </B> AND <B> SNAKES </B></p>
      <p id="about">
        "I think there's natural goodness built into human beings.
        You know you've stopped across the line into evil, and
        it's your life's challenge to try and stay on the right side
        of that line"
      </p>
      <p id="divB"> 
        <ion-button fill="clear" id="m" class="more more1" routerLink='/songbirds-and-snakes'>
          See more
          <ion-img id="cmore" src="assets/icon/derecha.png"></ion-img>
          <!--<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>-->
        </ion-button> 
      </p>
    <br><br><br><br><br><br><br><br>
  </div>


  <ion-fab vertical="center" horizontal="end" slot="fixed"  >
    <ion-fab-button color="light">
      <ion-icon name="globe-outline" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://www.authorsguild.org/"><ion-img id="fab" src="assets/icon/authors.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.penguin.com/"><ion-img id="fab" src="assets/icon/penguin.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.amazon.com/"><ion-img id="fab" src="assets/icon/amazon.png"></ion-img></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button href="https://www.barnesandnoble.com/"><ion-img id="fab2" src="assets/icon/barnes.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.indiebound.org/"><ion-img id="fab" src="assets/icon/indie.png"></ion-img></ion-fab-button>
      <ion-fab-button href="https://www.booksamillion.com/"><ion-img id="fab2" src="assets/icon/BAM.png"></ion-img></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>


<ion-footer id="pie">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div id="alignI">
            Created for educational purposes
          </div>
        </ion-col>
        
        <ion-col >
          <div id="alignC">
            <ion-img src="assets/image/scholastic.png" id="logoPie"> </ion-img>
            <br>TM & (c) 2021 Scholastic Inc. All Rights Reserved.
          </div>
        </ion-col>

        <ion-col>
          <div id="alignD">
            <ion-button fill="clear" id="sign" class="sign button1" routerLink='/sign-in-up'>
              <a id="s">SIGN</a>
              <ion-img id="signIcon" src="assets/icon/derecha.png"></ion-img>
              <!--<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>-->
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>